.session-track-ionic {
  color: var(--ion-color-primary);
}

.session-track-angular {
  color: var(--ion-color-angular);
}

.session-track-communication {
  color: var(--ion-color-communication);
}

.session-track-tooling {
  color: var(--ion-color-tooling);
}

.session-track-services {
  color: var(--ion-color-services);
}

.session-track-design {
  color: var(--ion-color-design);
}

.session-track-workshop {
  color: var(--ion-color-workshop);
}

.session-track-food {
  color: var(--ion-color-food);
}

.session-track-documentation {
  color: var(--ion-color-documentation);
}

.session-track-navigation {
  color: var(--ion-color-navigation);
}

/* Favorite Icon
 * --------------------------------------------------------
 */

.show-favorite {
  position: relative;
}

.icon-heart-empty,
.icon-heart {
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;

  position: absolute;

  top: 5px;
  right: 5px;

  width: 48px;
  height: 48px;

  transition: transform 300ms ease;

  font-size: 16px;
}

.icon-heart-empty {
  transform: scale(1);
}

.icon-heart {
  transform: scale(0);
}

.show-favorite .icon-heart {
  transform: scale(1);
}

.show-favorite .icon-heart-empty {
  transform: scale(0);
}

h1,
h3 {
  color: var(--ion-color-dark);
}

ion-content {
  --color: #2f2f2f;
}

div.content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 16px;
}

div.title {
  flex-shrink: 1;
}

ion-avatar {
  flex-shrink: 0;
  width: 100px;
  height: 100px;

  &.double {
    width: 70px;
    height: 70px;
    img {
      border-width: 4px;
    }
  }

  img {
    border: double 6px transparent;
    background-image: linear-gradient(white, white),
      conic-gradient(
        from -30deg,
        #0b0e10,
        35deg,
        #f3b41c,
        165deg,
        #fa2402,
        260deg,
        #0b0e11
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}

li {
  margin-bottom: 16px;
  font-size: 16px;
}
